extends layout

block content
  div.row
    div.small-8.columns.small-centered
      h2#title Social Authentication Complete
  if error
    div.row
      div.small-8.columns.small-centered
        h3 Authentication Error
        p #{error}
        a.button.tiny(href='/') Try again
  else if unconfigured
    div.row
      div.small-8.columns.small-centered
        h3 Unconfigured
        p This application needs to be configured with a Okta URL and Okta API Token
  else
    div.row
      div.small-6.columns.key Your user name:
      div.small-6.columns#userDisplayName #{displayName}
    div.row
      div.small-6.columns.key Your Okta User ID:
      div.small-6.columns#userId #{userId}
  div.row
    div.small-8.columns.small-centered
      p.result
  div.row.small-centered
    div.small-2.columns.small-centered
      a.button.tiny(href='/') Log out

  script(src='javascripts/jquery-2.1.4.min.js')
  script(src='javascripts/UrlUtil.js')
