extends layout

block content
  div.row
    div.small-8.columns.small-centered
      h2#title Tommy's Tires Admin
  div.row
    div.small-8.columns.small-centered
      div.row.small-centered
        div.small-8.columns.small-centered
          h5 #{message}
      form(action="/admin", method="post")
        div.row.small-centered
          div.small-8.columns.small-centered
            label(for="oktaOrgUrl") URL for your Okta organization
            input(type="text", name="oktaOrgUrl", placeholder="https://example.okta.com" value="#{oktaOrgUrl}")
        div.row.small-centered
          div.small-8.columns.small-centered
            label(for="oktaToken") API Token for your Okta organization
            input(type="text", name="oktaToken", placeholder="FIXME" value="#{oktaToken}")
        div.row.small-centered
          div.small-8.columns.small-centered
            label(for="redirectUri") Redirect URI
            input(type="text", name="redirectUri", placeholder="FIXME" value="#{redirectUri}")
        div.row.small-centered
          div.small-8.columns.small-centered
            label(for="popup") Popup
            if popup == 'on'
              input(type="checkbox", name="popup", placeholder="Pop-up" checked)
            else
              input(type="checkbox", name="popup", placeholder="Pop-up")
        div.row.small-centered
          div.small-2.columns.small-centered
            input.button.success.tiny(type="submit", value="Submit")
            a.button.tiny(href='/') Home