extends layout

block content
  div.container
  div.row
    div.small-8.columns.small-centered
      h3#title Tommy's Tires Patient Portal
  div.row
    div.small-8.columns.small-centered
      form(action="/login", method="post")
        div.row.small-centered
          div.small-8.columns.small-centered
            input(type="text", name="username", placeholder="Username")
        div.row.small-centered
          div.small-8.columns.small-centered
            input(type="text", name="password", placeholder="Password")
        div.row.small-centered
          div.small-7.columns.small-centered
            input.button.success.tiny(type="submit", value="Submit")
            a#fb-login.button.tiny(href= '#{oktaFacebookLoginUrl}') Login to Facebook
            a#google-login.button.tiny(href= '#{oktaGoogleLoginUrl}') Login to Google
            a.button.tiny(href='/admin') Admin